<template>
    <div>
      <h2>esta é a descricao da pessoa {{name}}</h2>
      <p>estou trabbalhando no momento</p>
      <p>utiliao qw w3uint53w 53dntlohias</p>
      <ul>
          <li>javascript</li>
          <li>php</li>
          <li>phyton</li>
      </ul>
  </div>
</template>
<script>

export default{
    name: 'info'
}
</script>
