<template>
    <h1>meu nome: {{nome}}</h1>
</template>

<script>
export default {
    name: 'LifeCycle',
    data(){
        return{
            nome: 'ainda n sei'
        }
    },
    created(){
        setTimeout(() => {
            this.nome = 'alisson'
        }, 1000);
    },
    mounted(){
        this.nome = 'brabo'
    }
}
</script>