<template>
  <div>
      <info/>
  </div>
</template>

<script>
import info from './info.vue'
export default {
    name: 'Pessoa',
    components: {
        infox
    },
    data(){
        return{
            name: 'alisson'
        }
    }
}
</script>

