<template>
    <div>
        <h1>ola vue {{nome}}</h1>
    </div>
</template>

<script>
export default {
    name: 'primeirocomponente',
    data(){
        return{
            nome: 'alisson'
        }
    }
}
</script>