<template>
  <primeirocomponente/>
  <LifeCycle/>
  <Pessoa/>
</template>

<script>
import primeirocomponente from './components/primeirocomponente.vue'
import LifeCycle from './components/LifeCycle.vue'
import Pessoa from './components/Pessoa.vue'
export default {
  name: 'App',
  components: {
    primeirocomponente,
    LifeCycle,
    Pessoa 
  }
}
</script>